<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./register"><h4>Home</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./register"><h4>About</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./register"><h4>Profile</h4></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./register"><h4>Vendor Sheet</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./register"><h4>Contact Us</h4></a>
          </li>
    </ul>
  </nav> 
<div class="container">
  <ul class="nav nav-tabs">
    <li><a href="./register"><h2>Personal Information</h2></a></li>
    <li><a href="./edu"><h2>Educational Information</h2></a></li>
    <li class="active"><a href="./immigration"><h2>Immigration Information</h2></a></li>
    <li><a href="./work"><h2>Work Experience</h2></a></li>
  </ul>
  <table>
    <br >
    <tr>
      <label><h3>Visa Status</h3></label>
      <br>
      <input class="form-control" id="ex3" type="text">
    </tr>

    <tr>
      <label><h3>SSN</h3></label>
      <br>
      <input class="form-control" id="ex3" type="text">
    </tr>

    <tr>
      <label><h3>Passport Number</h3></label>
      <br>
      <input class="form-control" id="ex3" type="text">
    </tr>
    <br>
    <tr>
      <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
                    accept="image/*" auto="auto"></p-fileUpload>

    </tr>
  </table>

  <div align="right">
    <a href="./edu">
      <button id="button" type="button" class="btn btn-info">Back</button>
    </a>


    <a>

      <button id="btn-signup" type="button" class="btn btn-info">Save</button>

    </a>

    <a href="./work">


      <button id="button" type="button" class="btn btn-info">Next</button>


    </a>
  </div>



  <style>

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: white;
      color: blue;
      text-align: center;
    }
  </style>
  <div class="footer">
    <p>Add copyright policy</p>
  </div>
