<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-light">
<ul class="navbar-nav">

  <li class="nav-item">

    <div align="center">  <a class="nav-link" href="./about"><h1>Egaints</h1> </a></div>

  </li>

</ul>
</nav>

<div class="container">
  <ul class="nav nav-tabs nav-pills">
    <li><a><h2>Personal Information</h2></a></li>
    <li><a><h2>Educational Information</h2></a></li>
    <li><a><h2>Immigration Information</h2></a></li>
    <li class="active"><a href="./work"><h2>Work Experience</h2></a></li>
  </ul>
  <br>

  <h5 align="left" class="col-sm-3 form-group">Immigration Details</h5>

  <div class="container">
    <div class="col-lg-12 well">
      <div class="row">
        <form>

          <div class="col-sm-12 form-group">
            <label>Total Years of Work Experience</label>
            <input type="text" placeholder="Title" class="form-control" name="Title" ngModel>
          </div>

          <div class="col-sm-12 form-group">
            <label>Field of Previous work Experience</label>
            <input type="text" placeholder="" class="form-control" name="Title" ngModel>

          </div>


        </form>
      </div>
    </div>
  </div>


  <h5 align="left" class="col-sm-3 form-group">Company Details</h5>

  <div class="container">
    <div class="col-lg-12 well">
      <div class="row">
        <form>
          <div class="col-sm-6 form-group">
            <label>Company Name</label>
            <input type="text" placeholder="Title" class="form-control" name="Title" ngModel>
          </div>

          <div class="col-sm-6 form-group">
            <label>Start Date</label>
            <input type="date" placeholder="Date" class="form-control" name="Date" ngModel>

          </div>


          <div class="col-sm-6 form-group">
            <label>Company Location </label>
            <input type="text" placeholder="Company Name" class="form-control" name="Company Name" ngModel>
          </div>



          <div class="col-sm-6 form-group">
            <label>Upload Work Experience Letter or Offer Letter</label>

            <input type="file" placeholder="Passport" class="form-control">
          </div>



          <div class="col-sm-6 form-group">
            <label>Start Date</label>
            <input type="date" placeholder="Date" class="form-control" name="Date" ngModel>

          </div>

        </form>


      </div>
    </div>
  </div>





  <div align="right">
    <a href="./immigration">
      <button id="button" type="button" class="btn btn-info">Back</button>
    </a>


    <a>

      <button type="submit" class="ui button" (click)="onSubmit(f.value)">Save</button>

    </a>

    <a href="./login">


      <button id="button" type="button" class="btn btn-info">Next</button>


    </a>
  </div>

  <style>

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: white;
      color: blue;
      text-align: center;
    }
  </style>
  <div class="footer">
    <p>Add copyright policy</p>
  </div>
