<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">

    <li class="nav-item">

      <div align="center">  <a class="nav-link" href="./about"><h1>Egaints</h1> </a></div>

    </li>

  </ul>
</nav>
<div class="container">
  <ul class="nav nav-tabs nav-pills">
    <li><a><h2>Personal Information</h2></a></li>
    <li class="active"><a data-toggle="tab" href="./edu"><h2>Educational Information</h2></a></li>
    <li><a><h2>Immigration Information</h2></a></li>
    <li><a><h2>Work Experience</h2></a></li>
  </ul>
</div>


<div class="container">
  <div>
    <div class="row">
      <form>


        <div class="col-sm-12 form-group">
          <label><h3>Educational Details</h3></label>
        </div>
        <div class="col-sm-12 form-group">
          <label><h5>Masters Degree Information</h5></label>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="container">
  <div class="col-lg-12 well">
    <div class="row">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Year and expected year of graduation and month of graduation</label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Major of Degree </label>
              <input type="text" placeholder="" class="form-control">
            </div>


            <div class="col-sm-6 form-group">
              <label>University </label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>




<div class="container">
  <div class="col-lg-12 well">
    <div class="row">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">

              <label>University Address</label> <textarea rows="4" cols="40"></textarea>

            </div>


            <div class="col-sm-6 form-group">
              <label>GPA </label>
              <input type="text" placeholder="" class="form-control">
            </div>


          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label> </label>
            </div>
            <div class="col-sm-6 form-group">
              <label>Start year and Month </label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 form-group">
              <label>
                Upload college Degree
              </label>
              <input type="file" placeholder="Bank Statement" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
              <label>College Official transcripts</label>
              <input type="file" placeholder="Driving Licence" class="form-control">
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>




<div class="container">
  <div>
    <div class="row">
      <form>


        <div class="col-sm-12 form-group">
          <label><h4>Bachelors Degree</h4></label>


        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-lg-12 well">
    <div class="row">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Year and expected year of graduation and month of graduation</label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Major of Degree </label>
              <input type="text" placeholder="" class="form-control">
            </div>


            <div class="col-sm-6 form-group">
              <label>University </label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

<div class="container">
<div class="col-lg-12 well">
  <div class="row">
    <form>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">

            <label>University Address</label> <textarea rows="4" cols="40"></textarea>

          </div>


          <div class="col-sm-6 form-group">
            <label>GPA </label>
            <input type="text" placeholder="" class="form-control">
          </div>


        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label> </label>
          </div>
          <div class="col-sm-6 form-group">
            <label>Start year and Month </label>
            <input type="text" placeholder="" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>
              Upload college Degree
            </label>
            <input type="file" placeholder="Bank Statement" class="form-control">
          </div>
          <div class="col-sm-6 form-group">
            <label>College Official transcripts</label>
            <input type="file" placeholder="Driving Licence" class="form-control">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
</div>

<div class="container">
  <div>
    <div class="row">
      <form>


        <div class="col-sm-12 form-group">
          <label><h4>Intermediate Education</h4></label>


        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-lg-6 well">
    <div class="row">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Year and expected year of graduation and month of graduation</label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Major of Degree </label>
              <input type="text" placeholder="" class="form-control">
            </div>


            <div class="col-sm-6 form-group">
              <label>University </label>
              <input type="text" placeholder="" class="form-control">
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

<div class="container">
<div class="col-lg-12 well">
  <div class="row">
    <form>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">

            <label>University Address</label> <textarea rows="4" cols="40"></textarea>

          </div>


          <div class="col-sm-6 form-group">
            <label>GPA </label>
            <input type="text" placeholder="" class="form-control">
          </div>


        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label> </label>
          </div>
          <div class="col-sm-6 form-group">
            <label>Start year and Month </label>
            <input type="text" placeholder="" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>
              Upload college Degree
            </label>
            <input type="file" placeholder="Bank Statement" class="form-control">
          </div>
          <div class="col-sm-6 form-group">
            <label>College Official transcripts</label>
            <input type="file" placeholder="Driving Licence" class="form-control">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
</div>


<div class="container" align="center">
  <div class="col-sm-12 well" align="center">
    <div class="row" align="center">
      <form>



        <div align="center">
          <a href="./register">

            <span id="button" typeof="button" class="btn btn-info"> Back</span>
            <span typeof="submit" class="ui button" (click)="onSubmit(f.value)">Save</span>
            <a href="./immigration">
              <span id="button" type="button" class="btn btn-info">Next</span></a>

            </a>


            <!--<a>

    <button type="submit" class="ui button" (click)="onSubmit(f.value)">Save</button>

  </a>-->

            <!--<a href="./immigration">


              <button id="button" type="button" class="btn btn-info">Next</button>


            </a>-->
</div>

      </form>
    </div>
  </div>
</div>



<style>

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: blue;
    text-align: center;
  }
</style>
<div class="footer">
  <p>Add copyright policy</p>
</div>
